.container {
    width: 30%;
    border: 1px solid #000000;
    padding: 20px;
    background-color: #f1d49b;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;

  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 1000px;
    background-image: url(/assets/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    padding-top: 150px;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10pt;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15pt;
  }
  
  button {
    background-color: #703807;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20pt;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }