<body>
  <form id="loginForm">
    <div class="container">
      <label class="title" for="uname"><b>Email</b></label>
      <input
        type="text"
        placeholder="Enter Email"
        name="uname"
        required
        #email
      />

      <label class="title" for="psw"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
        #password
      />

      <button type="button" (click)="login(email.value, password.value)">
        Login
      </button>
      <button type="button" (click)="register(email.value, password.value)">
        Register
      </button>
    </div>
  </form>
</body>
