<div>
    <button class="btn btn-primary" id="deleteUserAccount" (click)="deleteUserAccount()"> Delete User Account</button>
    <button class="btn btn-primary" id="deleteGlucose" (click)="deleteGlucoseForUser()"> Delete All Glucose Values</button>
    <button class="btn btn-primary" id="printPDF" (click)="printPDF()"> Export to PDF</button>
    <button class="btn btn-primary" id="logout" (click)="logout()"> Logout</button>
</div>

<div class="container">
 
    <table id="pdfTable" #pdfTable class="table table-striped">
    
        <thead>
        <tr><th colspan="4">Glycemia Values in the last 7 days</th></tr>
        <tr class="row">
            <th>Meassure Date</th>
            <th>Glucose Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let val of GlucoseValues.slice().reverse()" class="row">
            <td>
            <i>{{val.createTime | date: "medium":"+0000"}}</i>
            </td>
            <td>
            <i>{{val.value}}</i>
            </td>          
        </tr>
        </tbody>
    </table>
</div>