#deleteUserAccount{
    margin-bottom: 10pt;
    font-size: 18pt;
    background-color: rgb(125, 210, 236);
    margin-right: 20px;
    border-radius: 40px;
    
  }
  #deleteGlucose{
    margin-bottom: 10pt;
    font-size: 18pt;
    background-color: rgb(125, 210, 236);
    margin-right: 20px;
    border-radius: 40px;
  }
  #printPDF{
    margin-bottom: 10pt;
    font-size: 18pt;
    background-color: rgb(125, 210, 236);
    margin:0 auto;
    border-radius: 40px;
  }
  #logout{
      float: right;
    margin-bottom: 10pt;
    font-size: 18pt;
    background-color: rgb(125, 210, 236);
    border-radius: 40px;
  }
.container{
    width: 100%;
    height: 100%;
    background-color: #f1d49b;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    padding-top: 10px;
}
.table {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
tr {
    text-align: center;
}
table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
background-color: #f1f1f1;
}

table tr:nth-child(even) {
background-color: #ffffff;
}
th{
    font-size: 20pt;
    background-color: rgb(125, 210, 236);
}